@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500&display=swap");

:root {
  --shadow-color: #ffffff;
  --shadow-color-light: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Outfit", sans-serif;
}

section {
  &.firstSection {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    overflow: hidden;
  }
  &.secondSection {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    overflow: hidden;
  }
  &.thirdSection {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
  }
  &.fourSection {
    width: 100vw;
    max-width: 100%;
    height: 80vh;
    max-height: 100%;
    overflow: hidden;
  }
  &.fiveSection {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    overflow: hidden;
    background-color: #fcbc41;
  }
  &.sixSection {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    overflow: hidden;
    background-color: #fcbc41;
  }
  &.sevenSection {
    width: 100vw;
    max-width: 100%;
    height: 60vh;
    max-height: 100%;
    overflow: hidden;
    background-color: #fcbc41;
  }
}

section.firstSection {
  .right {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f9dfae !important;
    overflow: hidden;

    .textBoxRight {
      width: max-content;
      height: max-content;
      position: absolute;

      right: 50em;
      .boxTextSecondSection {
        position: absolute;
        top: 7em;
        width: 40em;
        height: auto;
        background-color: #fff;
        padding: 1em 1em;
        & p {
          letter-spacing: 0.06em;
        }
        & span {
          color: rgb(255, 172, 47);
        }
        & span.biggerText {
          font-size: 2em;
        }
        .flexboxText {
          display: flex;
          flex-direction: column;
          .boxTextRightInfo {
            display: flex;
            width: 100%;
            margin: 0 0 2em 0;
            /* background-color: #ff4444; */
            align-items: center;
            & img {
              width: 1.5em;
              height: 1.5em;
              object-fit: cover;
              filter: invert(70%) sepia(54%) saturate(512%) hue-rotate(357deg)
                brightness(81%) contrast(99%);
            }
            & p {
              margin: 0 3em;
            }
          }
        }
      }
      & p.textRight {
        position: absolute;
        font-size: 7em;
        color: white;
        font-family: "Outfit", sans-serif;
      }
    }
    & img {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .ONE {
      z-index: 100;
    }
    .TWO {
      z-index: 99;
    }
    .THREE {
      z-index: 99;
    }
    .FOUR {
      position: absolute;
      z-index: 250;
      transform: translate(-10%, 0%);
      object-fit: cover;
      width: 45em;
      height: max-content;
    }
    .FIVE {
      z-index: 98;
    }
    .SIX {
      z-index: 97;
    }
    .SEVEN {
      z-index: 96;
    }
    .EIGHT {
      position: absolute;
      transform: translate(-10%, 0);
    }
    .NINE {
      position: absolute;
    }
    /* .TEN {
      position: absolute;
    } */
    .ELEVEN {
      position: absolute;
      transform: translate(20%, 0);
    }
  }
}

.cls-1 {
  fill: none;
  transform: scale(150%) translate(-10%, 0);
}

.cls-1,
.cls-2,
.cls-3 {
  stroke-width: 0px;
}

.cls-2 {
  fill: #f9dfae;
}

.cls-4 {
  clip-path: url(#clippath);
}

.cls-5 {
  opacity: 0.14;
}

.cls-3 {
  fill: #febe43;
}

section.navBar {
  position: fixed;
  z-index: 400;
  & .navBarIn {
    height: auto;
    width: max-content;
    margin: 1.5em 0 0 80em;
    background-color: #fff;
    padding: 0.7em 0;
    color: black;
    & ul {
      display: flex;
      flex-direction: row;
      & a {
        margin: 0 1.2em;
        font-family: "Outfit", sans-serif;
        list-style: none;
        text-decoration: none;
        transition: all;
        transition-property: 1s;
        transition-duration: 1s;
        & li {
          text-transform: uppercase;
          font-size: 1.2em;
          font-weight: 400;
          transition: all;
          transition-property: 1s;
          transition-duration: 1s;
        }
      }
    }
  }
  & a:hover {
    background-color: #000000;
    padding: 0.5em;
    border-radius: 1em;
    color: white;
  }
}

section.thirdSection {
  overflow: hidden;
  width: 100vw;
  position: relative;
  .left {
    width: 100%;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    .backgroundNextToSecSection {
      width: 150%;
      height: 15%;
      position: absolute;
      bottom: 0;
      background-color: #000;
      z-index: 250;
      filter: blur(20px);
      opacity: 90%;
      transform: translate(0, 80%);
    }
    .boxTextLeft {
      width: max-content;
      height: auto;
      position: absolute;
      z-index: 250;
      display: flex;
      align-items: center;
      justify-content: center;
      user-select: none;
      animation: letterSpace 10s ease-in infinite;
      & p {
        text-shadow: 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color),
          0 0 60px var(--shadow-color);
        -webkit-animation: glowing-text 10s ease-in-out infinite alternate;
        -moz-animation: glowing-text 10s ease-in-out infinite alternate;
        animation: glowing-text 10s ease-in-out infinite alternate;
        font-size: 7em;
        font-weight: 500;
        z-index: 250;
        color: white;
      }
    }
    & img {
      position: absolute;
      width: calc(100% - 0.1%);
      height: 100%;
    }
    .space1 {
      z-index: 200;
    }
    .space2 {
      z-index: 200;
      transform: translate(0, 0%);
    }
    .space3 {
      z-index: 200;
      object-fit: cover;
    }
    .space4 {
      z-index: 200;
      object-fit: cover;
    }
    .space5 {
      z-index: 200;
      position: absolute;
      object-fit: contain;
      width: 21em;
      height: 21em;
      top: 5em;
      transform: translate(-270%, 0) rotate(0deg);
      rotate: 0deg;
      animation: ballOne 250s ease infinite;
      /* 300 */
      transform-origin: center center;
    }
    .space6 {
      width: 15em;
      height: 15em;
      object-fit: contain;
      top: 3em;
      right: 5em;
      position: absolute; /* Set the position to absolute */
      object-fit: contain;
      z-index: 200;
      animation: ballTwo 250s ease infinite;
      /* 250 */
      transform-origin: center center;
    }
    .space7 {
      position: absolute;
      z-index: 200;
      object-fit: contain;
      bottom: 40em;
      left: 10em;
      width: max-content;
      height: max-content;
      animation: ballThree 300s ease infinite;
    }
    .space8 {
      z-index: 200;
      animation: flying 4s ease-in-out infinite;
    }
    .space9 {
      z-index: 199;
      animation: flying_2 3s ease-in-out infinite;
    }
    .space10 {
      z-index: 199;
      animation: flying 4s ease-in-out infinite;
    }
    .space11 {
      z-index: 200;
      animation: flying 6s ease-in-out infinite;
    }
    .space12 {
      z-index: 200;
      position: absolute;
      object-fit: contain;
      right: 3%;
      top: 4em;
      width: 25em;
      transform: translate(46%, 0%);
      transform-origin: center center;
      animation: ballThree_2 300s ease infinite;
    }
    .space12_5 {
      position: absolute;
      z-index: 200;
      object-fit: contain;
      right: 3%;
      top: 4em;
      width: 65em;
      transform: translate(50%, 0%);
      transform-origin: center center;
      animation: rotateq 10s ease infinite;
    }
    .bg {
      z-index: 150;
    }
    .bg2 {
      z-index: 201;
      animation: opacity 4s ease-in infinite;
    }
    .bg3 {
      z-index: 201;
      animation: opacity 6s ease-in infinite;
    }
    .bg4 {
      z-index: 201;
      animation: opacity 9s ease-in infinite;
    }
    .bg5 {
      z-index: 151;
    }
  }
}

@keyframes flying {
  0% {
    opacity: 0%;
    transform: translate(0%, 0%);
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
    transform: translate(-30%, 50%);
  }
}

@keyframes flying_2 {
  0% {
    opacity: 0%;
    transform: translate(0%, 0%);
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
    transform: translate(-50%, 85%);
  }
}

@keyframes opacity {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
    opacity: 0%;
  }
}

@keyframes ballOne {
  0% {
    transform: translate(-270%) rotate(0deg);
  }
  50% {
    transform: translate(-220%) rotate(360deg);
  }
  100% {
    transform: translate(-270%) rotate(0deg);
  }
}

@keyframes ballTwo {
  0% {
    transform: translate(0%) rotate(0deg);
  }

  50% {
    transform: translate(-20%) rotate(-360deg);
  }

  100% {
    transform: translate(0%) rotate(0deg);
  }
}

@keyframes ballThree {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes ballThree_2 {
  0% {
    transform: translate(46%) rotate(0deg);
  }
  100% {
    transform: translate(46%) rotate(-360deg);
  }
}

@keyframes letterSpace {
  0% {
    letter-spacing: 0%;
  }
  50% {
    letter-spacing: 0.7em;
  }
  100% {
    letter-spacing: 0%;
  }
}

@keyframes rotateq {
  0% {
    transform: scaleX(1) scaleY(0.4) scaleZ(1) rotateX(0deg) rotateY(0deg)
      rotateZ(0deg) translateX(50%) translateY(0px) translateZ(0px) skewX(0deg)
      skewY(0deg);
  }
  50% {
    transform: scaleX(1.04) scaleY(0.5) scaleZ(3) rotateX(0deg) rotateY(0deg)
      rotateZ(0deg) translateX(50%) translateY(0px) translateZ(0px) skewX(5deg)
      skewY(4deg);
  }
  100% {
    transform: scaleX(1) scaleY(0.4) scaleZ(1) rotateX(0deg) rotateY(0deg)
      rotateZ(0deg) translateX(50%) translateY(0px) translateZ(0px) skewX(0deg)
      skewY(0deg);
  }
}

@keyframes glowing-text {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #2e00e6,
      0 0 40px #6300e6, 0 0 50px #cd6adf, 0 0 60px #fc58ff, 0 0 70px #e600ca;
  }

  100% {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

section.fourSection {
  width: 100%;
  overflow: hidden;
  position: relative;
  .backgroundNextToSecSection {
    width: 150%;
    height: 55%;
    position: absolute;
    bottom: 100;
    background-color: #000;
    z-index: 250;
    filter: blur(100px);
    opacity: 90%;
    transform: translate(-10%, -5%);
  }
  .contain {
    z-index: 300;
    width: 100%;
    height: calc(100% - 50%);
    background-color: #3a1143;
    filter: blur(0px);
  }
  .contain_2 {
    width: 100%;
    height: calc(100% - 50%);
    background: rgb(58, 17, 67);
    background: linear-gradient(
      180deg,
      rgba(58, 17, 67, 1) 9%,
      rgba(108, 21, 127, 1) 33%,
      rgba(249, 223, 174, 1) 100%
    );

    /* filter: blur(20px); */
  }
}

.fiveSection {
  display: flex;
  justify-content: center;
  .backgroundAfterFirstSection {
    width: 95%;
    height: 100%;
    background-color: #f1f1f1;
    margin-top: 5em;

    .backgroundBeforebackgroundAfterFisrtSection {
      width: 100%;
      height: 100%;
      /* background-color: #008f47; */
      position: relative;
      display: flex;
      justify-content: center;
      .gridForExpertise {
        position: absolute;
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* background-color: #ff4646; */
        width: 70em;
        height: auto;
        margin: 6em 0 0 7em;
        .boxMainOfGrid {
          width: 35em;
          height: 7em;
          /* background-color: #fff; */
          .flexForTextAndBoxInside {
            display: flex;
            flex-direction: column;
            .textMainOfBoxMainOfGrid {
              width: calc(100% - 20%);
              /* background: cadetblue; */
              display: flex;
              flex-direction: row;
              .boxForMainText {
                width: 100%;
                & p.textTextMainOfBoxMainOfGrid {
                  font-size: 1.3em;
                  color: rgb(53, 53, 53);
                }
              }
              .boxAsideTextMainOfBox {
                width: 100%;
                text-align: end;
                & p.textAside {
                  color: rgb(53, 53, 53);
                }
              }
            }
            .boxMainChart {
              width: 28em;
              height: 1em;
              border-radius: 0.3em;
              margin: 0.7em 0;
              overflow: hidden;
              background-color: rgb(80, 80, 80);
              .colorBoxMainChart {
                width: 80%;
                height: 100%;
                background-color: #febe43;
              }
              .colorBoxMainChartJS {
                width: 50%;
                height: 100%;
                background-color: #febe43;
              }
              .colorBoxMainChartPSAE {
                width: 70%;
                height: 100%;
                background-color: #febe43;
              }
              .colorBoxMainChartILL {
                width: 40%;
                height: 100%;
                background-color: #febe43;
              }
            }
          }
        }
      }
    }
  }
  .boxFortextBackGroundAfterFirstSection {
    width: 100%;
    margin: 2em 0;
    position: relative;
    & p.textBackGroundAfterFirstSection {
      text-align: center;
      font-size: 5em;
      text-transform: capitalize;
    }
    & p.textBackGroundAfterFirstSectionUnderScore {
      color: #fcbc41;
      text-align: center;
      font-size: 1em;
      font-weight: 500;
    }
  }
}

& p.textBackGroundAfterFirstSection {
  text-align: center;
  font-size: 5em;
  text-transform: capitalize;
}
& p.textBackGroundAfterFirstSectionUnderScore {
  color: #fcbc41;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
}

section.sixSection {
  display: flex;
  justify-content: center;
  .backgroundAfterFirstSection {
    width: 95%;
    height: 100%;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    .textMainBox {
      margin: 4em 0 0;
    }
    .boxCenteredJourney {
      width: 100%;
      height: auto;
      /* background-color: #ff3939; */
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 2em 0;
      .boxTextJourney {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 4em 2em 0;
        /* background: #ff6ddb; */
        & img {
          width: 4em;
          height: auto;
          object-fit: cover;
          margin: 0 1em;
          filter: invert(70%) sepia(54%) saturate(512%) hue-rotate(357deg)
            brightness(81%) contrast(99%);
        }
        & p {
          font-size: 2em;
          font-weight: 500;
        }
      }
      .boxOutsideJourney {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        .lineBoxCircleCentered {
          width: 5em;
          height: 10em;
          /* background-color: #698cff; */
          display: flex;
          flex-direction: column;
          align-items: center;
          .boxCirC {
            .border {
              position: relative;
              width: 1.4em;
              height: 1.4em;
              border-radius: 2em;
              display: flex;
              justify-content: center;
              align-items: center;
              border: 2px solid #fcbc41;
              .circle {
                position: absolute;
                width: 0.9em;
                height: 0.9em;
                border-radius: 2em;
                background-color: #fcbc41;
              }
            }
          }
          .line {
            width: 0.12em;
            height: 5em;
            border-radius: 0 0 0.5em 0.5em;
            background-color: #252525;
          }
        }
        .boxMainShowJourney {
          width: max-content;
          height: auto;
          /* background-color: #ffffff; */
          display: flex;
          justify-content: center;
          .boxTextMainShowJourney {
            & p {
              font-weight: 500;
              letter-spacing: 0.2em;
              font-size: 1.7em;
            }
            & p.drobText {
              font-weight: 400;
              margin: 0.5em 0;
              font-size: 1.25em;
            }
            .Carlendar {
              display: flex;
              flex-direction: row;
              justify-content: start;
              align-items: center;
              & img {
                width: 1.2em;
                height: 1.2em;
                object-fit: cover;
                margin: 0 0.5em 0 0;
              }
              & p {
                color: #bb8623;
                font-size: 0.9em;
              }
            }
          }
        }
      }
    }
  }
}

section.sevenSection {
  display: flex;
  justify-content: center;
  .backgroundAfterFirstSection {
    width: 95%;
    height: 100%;
    background-color: #f1f1f1;
    .boxMain {
      width: 100%;
      height: auto;
      /* background-color: #ff3535; */
      display: flex;
      flex-direction: column;
      .BoxContact {
        width: 100%;
        height: 5em;
        /* background-color: #5affe3; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 2em 0;
        .boxOne {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0 4em;
          margin: 4em 0 0 6em;
          & img {
            margin: 0 2em 0 0;
            width: 3.6em;
            object-fit: cover;
          }
          & p {
            font-size: 1.4em;
          }
        }
      }
      .boxTwo {
        width: 100%;
        display: flex;
        justify-content: center;

        & li {
          list-style: none;
          margin: 1em 1em;
          & img {
            width: 2em;
            height: 2em;
            object-fit: cover;
          }
        }
      }
    }
  }
}
